*{margin:0; padding: 0;}
header{width: 100%; height: 110px; 
    img{display: block; margin-left: 173px; padding-top: 13px;}
    p{margin-left: 470px; margin-top: -55px; font-size: 20px; color: #515151;}
}
a{cursor: pointer;}

article{width: 76%; margin: 0 auto; height: 460px;
    img{display: block; float: left; margin-top: 30px; margin-right: 23px; margin-left: 50px;}
    #deng{float: left; width: 403px; height: 460px; 
        .a{height: 32px; 
            h2{float: left; font-weight: 100; color: #000; font-size: 20px;}
            a{float: right; font-size: 12px; color: #666; display: block; padding-top: 6px;}
        }
        .tab{height: 374px; border: 1px solid #ededed;
            ul{height: 40px;
                li{float: left; list-style: none; width: 133px; text-align: center; border-right: 1px solid #ededed; font-size: 12px; color: #666; height: 38px; line-height: 38px; border-bottom: 1px solid #ededed;}
                li:last-child{border-right: 0;}
            }
            .show{height:334px; margin-top: 24px; position: relative;
                span{display: block; width: 45px; height: 43.5px; float: left; background: #f0f0f0; border: 1px solid #bdbdbd; font-size: 28px; text-align: center; line-height: 42px; margin-top: 14px; margin-left: 24px;}
                input{width: 290px; height: 42px; float: left; margin-top: 14px;} 
                div{width: 340px; height: 38px; background: #8dc63f; color: #fff; margin-top: 170px; margin-left: 24px; text-align: center; line-height: 38px; border-radius: 5px;}  
                p{margin-left: 300px; margin-top: 20px; font-size: 12px; color: #666;}
                span:nth-of-type(4){position: absolute; display: block; width: 90px; height: 43px; background: a1a2a2; left: 250px; top: 120px;}
            }
        }
        .con{text-align: center;
            li{float: left; list-style: none; width: 88px; text-align: center; line-height: 54px; font-size: 12px;}
        }
    }
}

footer{
    width: 100%;
    height: 124px;
    text-align: center;
        ul{
            margin-left: 39%;
            padding-top: 25px;
            height: 40px;
                li{
                    width: 65px;
                    font-size: 12px;
                    list-style: none;
                    color: #666;
                    float: left;
                    border-right: 1px solid #176246;
                    text-align: center;
                }
        }
        p{
            font-size: 12px;
            color: #666;
            line-height: 20px;
        }
        
}